# Android
platforms/android

# iOS
platforms/ios
 
# All platforms

plugins/
.idea/.name
.idea/encodings.xml
.idea/epicollect5-64bit-iMac.iml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
www/js/controller/inputs/types/EC.Location.js.BACKUP.50825.js
www/js/controller/inputs/types/EC.Location.js.BASE.50825.js
www/js/controller/inputs/types/EC.Location.js.LOCAL.50825.js
www/js/controller/inputs/types/EC.Location.js.REMOTE.50825.js
